<header>
    <h1>Lohotron Sales</h1>
    <% 
        const hour = new Date().getHours();
        if (hour < 12) { 
    %>
        Good morning
    <% } else if (hour < 18) { %>
        Good afternoon
    <% } else { %>
        Good evening
    <% } %>
</header>
